@charset "UTF-8";
body {
  font-family: 'Arial', sans-serif;
  
}



form {
  width: 100%;

  margin: 50px auto;
  padding: 20px;
  
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
}

h1 {

  color: #333;
}

div {

  margin-bottom: 15px;
}

input,
textarea {
  width:180px;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.container{
		display:flex;
		flex-direction: column;
  justify-content: center;
  align-items: center;
	
	}
	