body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.seller_container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.tab.active {
    background-color: #4CAF50;
    color: white;
}

.content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 폼 스타일링 */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.input {
    width: calc(100% - 16px); /* 입력 필드에 대한 너비 조정 */
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* 추가적인 스타일 적용이 필요한 경우 여기에 추가하세요 */
