.body {
	width: 100vw;
	height: 100vh;
}

.button #ID {
	padding: 0;
	margin: 0;
}

.reg-main {
	display: flex;
	justify-content: center;
}

.reg-container {
	border: 3px solid #e6e6e6;
	border-radius: 50px;
	box-shadow: 7px 7px 39px #e6e6e6;
	width: 50%;
	height: 100%;
	margin: 50px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.reg-content {
	width: 80%;
	height: 40px;
	display: flex;
	margin-top: 10px;
}

.reg-content2 {
	width: 50%;
	height: 40px;
	display: flex;
}

.reg-content3 {
	width: 80%;
	height: 200px;
	display: flex;
}

.reg-menu {
	padding-left: 22%;
	width: 30%;
	display: flex;
	align-items: center;
	font-weight: bold;
	width: 30%;
}

.reg-input {
	width: 55%;
	height: 100%;
	display: flex;
	align-items: center;
	font-weight: bold;
	position: relative;
}

.reg-input2 {
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-weight: bold;
}

/* #passWordEssential { */
/* 	position: absolute; */
/* 	top: 2.8em; */
/* 	left: -10em; */
/* 	font-size: 9pt; */
/* } */
.reg-name {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.reg-name2 {
	width: 80%;
	display: flex;
	justify-content: right;
	align-items: center;
	font-weight: bold;
}

.reg-name3 {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.input-style {
	border: 2px solid #2a243a;
	border-radius: 5px;
}

.input-style2 {
	border: 2px solid #2a243a;
	border-radius: 5px;
	width: 100%;
	height: 150px;
	margin-left: -20px;
}

.input-style3 {
	border: 2px solid #2a243a;
	border-radius: 5px;
	width: 15%;
}

#click-file {
	cursor: pointer;
}

#click-file::after {
	content: "アップロード";
	margin-left: -100px;
}

input[type="file"] {
	display: none;
}

label {
	background-color: #2a243a;
	color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	width: 29%;
	font-size: 11pt;
	font-weight: bold;
}

#fileNameDisplay {
	position: absolute;
	margin-left: 385px;
	margin-top: 10px;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
}

.btn-style {
	background-color: #2a243a;
	color: #fff;
	border: none;
	border-radius: 10px;
	font-size: 12pt;
}

.btn-style:hover {
/* 	opacity: 0.8; */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* 버튼 fade효과 */
.btnBlueGreen-fade {
	background-color: #2a243a;
	color: #fff;
	border: none;
	border-radius: 10px;
	font-size: 12pt;
	padding: 1%;
}

.essential-icon {
	color: red;
}

.btnBlueGreen {
	background: #2a243a;
}

/* 비밀번호 변경 모달창 - 원준 작업 */
#password-modal {
	width: 400px;
	height: 340px;
	padding: 3%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
	border: none;
}

.btn-size-close {
	width: 100%;
	display: flex;
	justify-content: right;
	align-items: center;
}

#close-button {
	border: 1px solid black;
	background-color: #2a243a;
	color: white;
	width: 20px;
	height: 20px;
	text-align: center;
}

.set-input {
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
}

.style-input {
	background: #eee;
	padding: 7px 16px;
	margin: 8px 0;
	width: 100%;
	border: 0;
	outline: none;
	border-radius: 6px;
}

.modal-content {
	width: 89%;
	height: 250px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: white;
}

.content1 {
	width: 50%;
	height: 180px;
	display: flex;
	padding: 14px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.set-content1 {
	height: 50.4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 버튼 효과 - 원준 */
a.button {
	display: block;
	position: relative;
	float: left;
	width: 120px;
	padding: 0;
	margin: 10px 20px 10px 0;
	font-weight: 600;
	text-align: center;
	line-height: 30px;
	color: #FFF;
	border-radius: 5px;
	transition: all 0.2s;
}

.btnBlueGreen.btnPush {
	box-shadow: 0px 5px 0px 0px grey;
}

.btnPush:hover {
	margin-top: 15px;
	margin-bottom: 5px;
}

.btnBlueGreen.btnPush:hover {
	box-shadow: 0px 0px 0px 0px grey;
}