body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.main {
	background-color: #ffffff;
	width: 60%;
	height: 100%;
	margin: 5em auto;
	border-radius: 1.5em;
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
	padding: 3%;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

/* 테이블 헤더 스타일 설정 */
th {
	background-color: #f2f2f2;
}

/* 테이블 데이터 행 스타일 설정 */
td {

	padding: 8px; /* 셀 안 여백 설정 */
	border: 1px solid #dddddd; /* 테두리 설정 */
	text-align: left; /* 텍스트 정렬 설정 */
}

.button_div {
	display: flex;
	justify-content: flex-end;
}

.a_name {
	border: 1px solid #ddd;
	width: 50px;
	padding: 8px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100px;
}

.addrNum {
	min-width: 115px;
	width: 10%;
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.addr {
	width: 370px;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 370px;
}

.telNum {
	width: 15%;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    min-width: 170px;
}

.delivery_time {
	width: 10px;
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
	max-width: 10px;
	border: 1px solid #ddd;
}

.delete_table {
	width: 30px;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    min-width: 30px;
}

.updateAddr {
	min-width: 36px;
    width: 36px;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.closeModalBtn {
	width: 100px;
	height: 50px;
}

/* .main_modal { */
/* 	max-width: 1500px; */
/* 	margin: 0 auto; */
/* 	padding: 20px; */
/* 	background-color: #fff; */
/* 	text-align: center; 중앙 정렬을 위해 text-align 추가 */
/* } */
.main_modal {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

section {
	margin: 30px;
}

h2 {
	color: black;
	text-align: center;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

td {
	padding: 10px;
	border: 1px solid #ccc;
}

#closeModalBtn {
	position: absolute;
	top: 20px;
	right: 20px;
}

#closeModalBtn2 {
	position: absolute;
	top: 20px;
	right: 20px;
}

.closeBtn2 {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	background-color: silver;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.label {
	width: 100px;
}

.value {
	width: 250px;
	word-break: break-all;
}

#myModal {
	border: none;
}

#myModal2 {
	border: none;
}

/* 가현 추가*/
.openModalBtn:hover {
	text-decoration: underline;
	cursor: pointer;
}

.addrDeleteBtn {
	text-align: center;
	background: #f5f5f5;
	cursor: pointer;
}

.addrDeleteBtn:hover {
	background: #f0f0f0;
}

.addrDeleteBtn:active {
	background: gray;
	color: white;
}

.value:focus-within {
  background-color: #f5f5f5;
}

.value input{
	border-radius: 3px;
    width: 100%;
    border: none;
}

.value input:focus {
	background-color: #f5f5f5;
}

.value select{
	width: 100%;
}

.value2 input{
	border: 1px solid gray;;
}

#openRegAddrBtn:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* 가현 추가 끝*/

