@font-face {
	font-family: 'MyCustomFont'; /* 사용할 폰트 이름 설정 */
	src: url('../font/kan.otf') format('opentype'); /* 파일 경로 설정 */
	/* 일본어 폰트 적용 */
}

* {
	font-family: 'MyCustomFont', sans-serif; /* 폰트 적용 */
}

body {
	
	margin: 0;
	padding: 0;
}
h3{
	
margin: -4px;
font-size: 30px;
}

#kanri.clicked {
	background-color: #088A08;
	color: white;
}

#review.clicked {
	background-color: #088A08;
	color: white;
}

#order.clicked {
	background-color: #088A08;
	color: white;
}

#cart.clicked {
	background-color: #088A08;
	color: white;
}

#user_modify.clicked {
	background-color: #088A08;
	color: white;
}

p {
	font-size: 25px;
	text-decoration: none;
	justify-content: center;

}
.mypage_contents1_menu_boxs > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* 각 JSP의 내용을 감싸는 컨테이너의 초기 상태를 숨김으로 설정 */
.jsp-container {
	display: none;
}

.mypage_container {
	overflow-x: hidden;
	height: 100%;
	background-color: white;
}

.mypage_title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	margin-top:30px;
	margin-bottom: 100px;
}

.mypage_title>img {
	max-width: 300px;
	max-height: 50px;
}

.mypage_title2 {
	font-size: 25px;
	display: flex;
	justify-content: end;
	align-items: center;
}

.mypage_contents1_box {
	display: flex;
	height: 250px;
	/* border: 1px solid red; */
	justify-content: center;
	align-items: center;
}

.mypage_contents1_info_box {
	width: 800px;
	height: 500px;
	/*  background-color: #DDFD52;*/
	/*border: 1px solid blue;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column-reverse;
}
.info_container{
	width: 1220px;
	display: flex;
	flex-direction: row;
	border: 1px solid black;
	border-radius: 8px;
	}
	
.menu_container{
width: 100vw;
display: flex;
justify-content: center;
align-items: center;

}
.myinfo_box {
    display: flex;
    flex-direction: row;
    width: 635px;
    height: 200px;
    align-content: center;
  
    border-radius: 8px;
    
    justify-content: space-around; 
    align-items: center; 
}

.myinfo_box_photo {
    
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-right: 20px; /* 오른쪽 간격 조절 */
}

.myinfo_box_item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: left; /* 내부 요소들의 텍스트를 왼쪽으로 정렬 */
}

.myinfo_box_items {
    width: 180px;
    height: 40px;
    font-size: 30px;
   
}
.myinfo_box_items2 {
    width: 180px;
    height: 40px;
    font-size: 20px;
    margin-top: 20px;
}
.myinfo_box_items3 {
    width: 180px;
    height: 40px;
    font-size: 20px;
    
}



.mypage_contents1_menu {
	display: flex;
	width: 1274px;
	height: 250px;
	padding: 10px;
	/*background-color: #C3E820;*/
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-left: 20px;
}

.mypage_contents1_menu_boxs {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	width: 180px;
	height: 140px;
	border: 1px solid black;
	background-color: white;
	border-radius: 8px;
	cursor: pointer;
	margin-right:20px;
	
}

.mypage_contents2_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mypage_contents2_box { /*최근본 상품 */
	width: 605px;
	height: 180px;
	/*background-color : pink;*/
border: 1px solid black;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 8px;
	margin-top: 9px;
	margin-right: 13px;
}

.mypage_contents2_box_item { /*최근본 상품 */
	width: 130px;
	height: 125px;
	/*border: 1px solid orange;
	background-color: violet;*/
	border-radius: 8px;
	/*background-image: url('itemFolder/');*/
	background-size: cover;
	background-position: center;
	border: 1px solid black;
}

.mypage_contents2_more {
	width: 740px;
	height: 50px;
	display: flex;
	justify-content: flex-start;
	font-size:25px;
}

.mypage_centents3_box {
	width: 100%;
	height: 100%;
	padding-top: 10px;
	
}