.main {
	background-color: #ffffff;
	width: 70%;
	height: 100%;
	margin: 5em auto;
	border-radius: 1.5em;
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
	padding: 3%;
}



table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

th {
	background-color: #f2f2f2;
}

img {
	max-width: 50px;
	max-height: 50px;
}

.button_div {
	display: flex;
	justify-content: flex-end;
}

.order_number {
	border: 1px solid #ddd;
	width: 80px;
	padding: 8px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100px;
}

.product_name {
	width: 300px;
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 300px;
}

.price {
	width: 100px;
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100px;
}

.total_price {
	width: 80px;
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 80px;
}

.pickup_status {
	width: 100px;
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100px;
}

.delete_table {
	width: 50px;
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 50px;
}

.date {
	width: 150px;
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 200px;
}

.review_create {
	width: 150px;
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 200px;
}

.closeModalBtn {
	width: 100px;
	height: 50px;
}

/* .main_modal { */
/* 	max-width: 1500px; */
/* 	margin: 0 auto; */
/* 	padding: 20px; */
/* 	background-color: #fff; */
/* 	text-align: center; 중앙 정렬을 위해 text-align 추가 */
/* } */

.main_modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.container {
	display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

section {
	margin: 20px;
}

h2 {
	color: black;
	text-align: center;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

td {
	padding: 10px;
	border: 1px solid #ccc;
}

#closeModalBtn {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	border: none;
}

.closeBtn2 {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	background-color: silver;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.label {
	width: 100px;
}

.value {
	width: 250px;
	word-break: break-all;
}
#myModal{

    border: none;
}
#myModal2{

    border: none;
}
