@charset "UTF-8";


#orderDetailsContainer {
    	background-color: #ffffff;
	width: 70%;
	height: 100%;
	margin: 5em auto;
	border-radius: 1.5em;
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
	padding: 3%;
	display: flex;
	flex-direction: column;
}

#orderInfo {
    margin-top: 20px;
}

#orderInfo img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}
