@charset "UTF-8";
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.tabs {
    display: flex;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 20px;
}

.tab {
    flex: 1;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    border: none;
    outline: none;
    background-color: inherit;
    transition: background-color 0.8s;
    
}

.tab:hover {
    background-color: #E7B2B2;
}

.tab.active {
    background-color: #4CAF50;
    color: white;
}

.content {
	
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
   
     margin: 100px;
 
}

#product-registration {
    display: block;
    background-color: skyblue;
    border: 10px solid;
  border-image: linear-gradient(to right, #3498db, #e74c3c); /* 그라데이션 적용 */
  border-image-slice: 1; /* 그라데이션 중간으로 확장 */
   
}

/* 폼 스타일링 */
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin: 10px 0;
}

input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px; /* 원하는 여백 설정 */
}

/* 테이블 헤더 스타일 설정 */
th {
  background-color: #f2f2f2; /* 배경색 설정 */
  padding: 8px; /* 셀 안 여백 설정 */
  border: 1px solid #dddddd; /* 테두리 설정 */
  text-align: left; /* 텍스트 정렬 설정 */
}

/* 테이블 데이터 행 스타일 설정 */
td {
  padding: 8px; /* 셀 안 여백 설정 */
  border: 1px solid #dddddd; /* 테두리 설정 */
  text-align: left; /* 텍스트 정렬 설정 */
}

