/* 원준 - 장바구니 */
.main {
	background-color: #ffffff;
	width: 70%;
	height: 100%;
	margin: 5em auto;
	border-radius: 1.5em;
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
	padding: 3%;
	display: flex;
	flex-direction: column;
}

.main-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-size: 18pt;
	font-weight: bold;
}

.btn-del {
	font-weight: bold;
	height: 40px;
}

.check-label {
	display: flex;
	align-items: center;
	font-weight: bold;
}

.menu {
	border: 2px solid black;
	border-radius: 20px;
	width: 90%;
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5%;
}

.menu-num {
	border: 1px solid pink;
	margin: 3%;
	width: 8%;
}

.menu-profile {
	width: 20%;
	height: 300px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.menu-info {
	width: 60%;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 3%
}

.menu-set {
	width: 20%;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profile-name {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-img {
	border: 1px solid skyblue;
	border-radius: 10px; 
	width : 100%;
	height: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.info-title {
	border: 1px solid blueviolet;
	width: 100%;
	font-size: 15pt;
	font-weight: bold;
}

.info-menus {
	display: flex;
}

.info-menu {
	border: 1px solid white;
	border-radius: 8px;
	background-color: #C3E820;
	width: 13%;
	text-align: center;
	font-size: 10pt;
	font-weight: bold;
}

.info-delivery {
	border: 1px solid blueviolet;
	width: 100%;
	font-size: 10pt;
	font-weight: bold;
	opacity: 0.7;
}

.info-price {
	border: 1px solid blueviolet;
	width: 40%;
	font-size: 20pt;
	font-weight: bold;
}

.quanity-container {
	border: 1px solid red;
	width: auto;
}

.set-quanity {
	border-radius: 50px;
	height: auto;
	font-size: 15pt;
	font-weight: bold;
}

.quantity-input {
	width: 20%;
}

.set-allprice {
	border: 2px solid black;
	border-radius: 10px;
	padding: 4%;
	font-size: 10pt;
	font-weight: bold;
	width: auto;
}

/* .set-del { */
/* 	background-color: #92f551; */
/* 	color: white; */
/* 	border-radius: 10px; */
/* 	width: 32.5%; */
/* 	height: 25px; */
/* 	font-size: 10pt; */
/* 	font-weight: bold; */
/* 	display: flex; */
/* 	justify-content: center; */
/* 	align-items: center; */
/* } */

.pay {
	width: 100%;
	height: 200px;
	font-size: 20pt;
	font-weight: bold;
	display: flex;
	justify-content: end;
	align-items: center;
}

.pay-allmoney {
	width: 30%;
}

.pay-click {
	width: 20%;
	height: 100%;
	
}

.pay-btn {
	margin-top: 58px;
	width: 80%;
	height: 40%;
	color: black;
	font-size: 30px;
	border-radius: 20px;
	background-color: #228B22;
	color: white;
}