/* 원준 - 장바구니 */
.main {
	background-color: #ffffff;
	width: 70%;
	height: 100%;
	margin: 5em auto;
	border-radius: 1.5em;
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
	padding: 3%;
	display: flex;
	flex-direction: column;
}

.main-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-size: 18pt;
	font-weight: bold;
}

.btn-del {
	background-color: #5dc41a;
	border: none;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	height: 40px;
	cursor: pointer;
}

.btn-del:hover {
	background: #4c9c19;
}

.check-label {
	display: flex;
	align-items: center;
	font-weight: bold;
}

.menu {
	border: 2px solid black;
	border-radius: 20px;
	width: 90%;
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5%;
}

.menu-num {
	margin: 3%;
	width: 8%;
}

.menu-profile {
	width: 20%;
	height: 300px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.menu-info {
	width: 60%;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 3%
}

.menu-set {
	width: 20%;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profile-name {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-img {
	border: 1px solid grey;
	border-radius: 10px;
	width: 100%;
	height: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.info-title {
	width: 100%;
	font-size: 15pt;
	font-weight: bold;
}

.info-menus {
	display: flex;
}

.info-menu {
	border: 1px solid white;
	border-radius: 8px;
	background-color: #C3E820;
	width: 13%;
	text-align: center;
	font-size: 10pt;
	font-weight: bold;
}

.info-delivery {
	width: 100%;
	font-size: 10pt;
	font-weight: bold;
	opacity: 0.7;
}

.info-price {
	width: 40%;
	font-size: 20pt;
	font-weight: bold;
}

.quanity-container {
	width: auto;
}

.set-quanity {
	border-radius: 50px;
	height: auto;
	font-size: 15pt;
	font-weight: bold;
}

.quantity-input {
	width: 20%;
	text-align: center;
}

.quantity-button {
	background-color: #5dc41a;
	border: none;
	border-radius: 10px;
	color: white;
	width: 30px;
	height: 25px;
	text-align: center;
	font-weight: bold;
	padding: 0;
	cursor: pointer;
}

.quantity-container button:hover {
	background: #4c9c19;
}

.set-allprice {
	border: 2px solid black;
	border-radius: 10px;
	padding: 4%;
	font-size: 10pt;
	font-weight: bold;
	width: auto;
}

/* .set-del { */
/* 	background-color: #92f551; */
/* 	color: white; */
/* 	border-radius: 10px; */
/* 	width: 32.5%; */
/* 	height: 25px; */
/* 	font-size: 10pt; */
/* 	font-weight: bold; */
/* 	display: flex; */
/* 	justify-content: center; */
/* 	align-items: center; */
/* } */
.pay {
	width: 100%;
	height: 200px;
	font-size: 20pt;
	font-weight: bold;
	display: flex;
	justify-content: end;
	align-items: center;
}

.pay-allmoney {
	width: 20%;
}

.pay-click {
	width: 20%;
	height: 100%;
}

button {
	text-decoration: none;
	color: #00AE68;
	border: none;
}

button.button {
	display: block;
	position: relative;
	float: left;
	width: 150px;
	top: 60px;
	padding: 0;
	margin: 10px 20px 10px 0;
	font-weight: 600;
	text-align: center;
	line-height: 50px;
	color: #FFF;
	border-radius: 5px;
	transition: all 0.2s;
	font-size: 15pt;
	cursor: pointer;
}

.btnBlueGreen {
	background: #4c9c19;
}

.btnBlueGreen.btnPush {
	box-shadow: 0px 5px 0px 0px #b7d0be;
}

.btnPush:hover {
	margin-top: 15px;
	margin-bottom: 5px;
}

.btnBlueGreen.btnPush:hover {
	box-shadow: 0px 0px 0px 0px #b7d0be;
}

.quantity-btn button {
	background-color: #5dc41a;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	color: white;
	width: 38px;
	height: 28px;
	text-align: center;
	padding: 0;
}

.quantity-btn button:hover {
	background: #4c9c19;
}
