@charset "UTF-8";

.login-set {
	position: relative;
	cursor: pointer;
	display: flex;
	height: 40px;
	align-items: center;
	
}

.nick {
	display: inline-block;
	text-align: center;
	margin-top: 7px;
	margin-right: 3px;
	width: 185px;
}
.login-set > span > img{
	width: 15px;
}


.login-set:hover .login-set-menus{
	opacity: 1;
	visibility: visible;
}

.login-set-menu {
	font-size: 14px;
	padding: 12px 20px;
}

.login-set-menu:hover{
	background: #f5f5f5;
	opacity: 1;
	color: black;
}

.login-set-menus{
	position: absolute;
	top: 40px;
	right: -20px;
	display: grid;
	width: 180px;
	padding: 8px 0;
	background: #ffffff;
	border-radius: 10px;
	border: 1px solid #e1e1e1;
	box-shadow: 0 40px 40px rgb(0 0 0 / 6%);
	opacity: 0;
	visibility: hidden;
	transition: 0.20s;
	z-index: 10;
}

.login-set-menus::before {
	content: "";
	background: inherit;
	border-top: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	position: absolute;
	top: -7px;
	right: 22px;
	width: 12px;
	height: 12px;
	rotate: -45deg;
}



/*  로그인 아이콘 위치 조정  */
#login-set-icon{
	margin-top: 4px;
	margin-left: 70px;
}

#login-set-icon > a{
	width: auto;
}