@charset "UTF-8";

.category{
	position: relative; display: inline-block;
}

#category-back1{
	background-color: #C3E820; 
	width: 100px; height: 30px; 
	border-radius: 40%;
}

#category-back2{
	background-color: #70E820; 
	width: 100px; height: 30px; 
	border-radius: 40%;
}

#category-text{
	position: absolute;
	top: 50%; left: 50%; 
	transform: translate(-50%, -50%);
}


.clear {
    clear: both;
}


.items_list {
    position: relative; 
}


#pagination {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    bottom: 10px;
}

.shop-item {
    width: 30%; 
    margin: 1%; 
    float: left; 
    box-sizing: border-box; 
}

#itemContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
