@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
}

.span active {
	display: flex;
	justify-content: center;
	align-items: center; 
	width : 110px;
	height: 50px;
}
/* 원준 - 쇼핑몰 메뉴 */
.shop-item-kwj {
	display: flex;
	justify-content: center;
	width: 100vmax;
	height: auto;
}

.shop-item-kwj button {
	border: none;
}

.shop-menu {
	display: flex;
	justify-content: baseline;
	align-items: center;
	border: 4px solid black;
	width: 80%;
	height: 100px;
	margin: 100px;
	font-size: 15pt;
	font-weight: bold;
}

.menu1 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 50px;
	width: 110px;
	height: 50px;
	background-color: #d9d9d9;
	border-radius: 50px;
	/* background-image: url("../../img/shop-menu.png"); */
	background-repeat: no-repeat;
}

.menu2 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 50px;
	margin-right: 5px;
	width: 110px;
	height: 50px;
	background-color: #d9d9d9;
	border-radius: 50px;
	/* background-image: url("../../img/shop-menu.png"); */
	background-repeat: no-repeat;
}

.menu1:focus{
	background-color: #C3E820;
}


.category {
	position: relative;
	display: inline-block;
}

#category-back1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 110px;
	height: 35px;
	background-color: #c3e820;
	border-radius: 50px;
	background-repeat: no-repeat;
	font-size: 12pt;
	font-weight: bold;
}

#category-back2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 110px;
	height: 35px;
	background-color: #70E820;
	border-radius: 50px;
	background-repeat: no-repeat;
	font-size: 12pt;
	font-weight: bold;
}

#category-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.items_list{
	justify-content: center;
    display: flex;
    flex-direction: column;
}

#itemContainer{
	display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
}

.shop-item{
	width: 30%;
    margin-bottom: 20px;
}

#pagination{
	display: flex;
    justify-content: center;
}

.item-img{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	border-radius: 10px;
	background-color: #c3e820;
	background-repeat: no-repeat;
	font-size: 12pt;
	font-weight: bold;
}