@charset "UTF-8";

.category{
	position: relative; display: inline-block;
}

#category-back1{
	background-color: #C3E820; 
	width: 100px; height: 30px; 
	border-radius: 40%;
}

#category-back2{
	background-color: #70E820; 
	width: 100px; height: 30px; 
	border-radius: 40%;
}

#category-text{
	position: absolute;
	top: 50%; left: 50%; 
	transform: translate(-50%, -50%);
}


.items_list{
	justify-content: center;
    display: flex;
    flex-direction: column;
}

#itemContainer{
	display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
}

.shop-item{
	width: 30%;
    margin-bottom: 20px;
}

#pagination{
	display: flex;
    justify-content: center;
}